body {
    padding: 0;
    margin: 0;
    background-color: rgb(20, 0, 37) ;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(29, 10, 65);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

h1 {
    margin: 0;
    color: white;
}

.calculator {
    border: solid #ffff55 1px;
    max-width: 300px;
    max-height: 400px;
    margin: auto;
    padding: 25px;
    background-color: #20003d;
}

/* Screen */

.calculator-screen {
    border: solid #ffff55 1px;
    background-color: #220035;
    color: #ffff00;
    display: flex;
    flex-direction: column;
    max-width: 280px;
    max-height: 80px;
    align-items: flex-end;
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.screen-show-operation {
    
    margin: 0;
    margin-bottom: 12px;
    font-size: 25px;
}

.screen-show-result {
    margin: 0;
}

/* Buttons */

button {
    margin: 0;
    background-color: #180025;
    color: #ffff00;
    border:solid 1px #ffff55;
    font-size: 23px;
}

.calculator-buttons {
    border: solid #ffff55 1px;
    max-height: 350px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
}

.first-button-line {
    display: flex;
}

.first-button-line>button {
    width: 70px;
    height: 60px;
}

.second-button-line {
    display: flex;
}

.second-button-line> button {
    width: 70px;
    height: 60px;
}

.third-button-line {
    display: flex;
}

.third-button-line> button {
    width: 70px;
    height: 60px;
}

.fourth-button-line {
    display: flex;
}

.fourth-button-line> button {
    width: 70px;
    height: 60px;
}

.fifth-button-line {
    display: flex;
}

.fifth-button-line > button {
    width: 70px;
    height: 60px;
}

.double-size {
    width: 140px !important;
    height: 60px;
}